.team-card{
    padding: 40px 35px;
    height: 100%;

    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);

    @include mobile{
        padding-inline: 50px;
    }

    &__header{
        display: flex;
    }

    &__image{
        &:not(:last-child){
            margin-right: 20px;
        }
    }

    &__info{
        align-self: end;

         &:not(:last-child){
            margin-right: 10px;
         }
    }

    &__link{
        @include flex-center;
        @include square(34px);

        align-self: start; // чтобы ссылка была кликабельной в своем пространстве
        margin-left: auto;
        flex-shrink: 0; // чтобы ссылка не сжималась
        color: var(--color-accent);
        background-color: var(--color-dark);
        border-radius: 50%;
    }

    &__name{
        &:not(:last-child){
            margin-bottom: 3px;
        }
    }

    &__body{
        margin-top: 28px;
        padding-top: 28px;
        border-top: var(--border);

        @include mobile{
            padding-top: 20px;
            margin-top: 20px;
        }
    }
}